body{
    margin: 0;
    padding: 0.5vh 3.5vw}
    
.header_no_underline{ 
    text-decoration: none;
    color: var(--TOKEN-BW-INVERSE_OF-THEME)}
    
h1< a.header_no_underline{ 
    border-bottom: 2px solid #eaecef}
    
h1, h2{ 
    border-bottom: 2px solid var(--TOKEN-BW-INVERSE-OF-THEME-HEADER-UNDERLINE)}
    
blockquote{
    padding:0px 14px;
    border-var(--TOKEN-TEXT-DIRECTION):3.5px solid #dddddd;
    margin:4px 0}
    
.task-list-item{ 
    list-style-type:none;
    text-indent: -1.4em} 
    
li.task-list-item> pre, li.task-list-item> ul> li{ 
    text-indent: 0pt}
    
.video-container> p{ 
    margin: 0}
    
p> a{ 
    word-break: break-all}
    
.markor-table-of-contents{ 
    border: 1px solid var(--TOKEN-BW-INVERSE-OF-THEME); 
    border-radius: 2px} 
    
.markor-table-of-contents> h1{ 
    padding-left: 14px;
    margin-bottom: -8px;
    border-bottom: 1px solid var(--TOKEN-BW-INVERSE-OF-THEME)}
    
.markor-table-of-contents-list li{ 
    margin-left: -12px}

.markor-table-of-contents-list a{ 
    text-decoration: none}
    
"<!-- " + TOKEN_TEXT_CONVERTER_MAX_ZOOM_OUT_BY_DEFAULT + " -->"

img{ 
    max-width: 100%} 

a:visited, a:link, a:hover, a:focus, a:active{ 
    color: inherit}
    
table{
    border-collapse: collapse; width: 100%}
    
table, th, td{
    padding: 5px} 

body{ 
    font-family: Helvetica, Arial, Freesans, clean, sans-serif;
    padding:0 0 0 0;
    margin:auto;
    max-width:42em} 
    
h1, h2, h3, h4, h5, h6{ 
    font-weight: bold} 

h1{
    font-size: 28px;
    border-bottom: 2px solid;
    border-bottom-color: inherit}
    
h2{
    font-size: 24px;
    border-bottom: 2px solid;
    border-bottom-color: inherit}
    
h3{
    font-size: 18px}
    
h4{ 
    font-size: 16px}
    
h5{
    font-size: 14px}
    
h6{
    font-size: 14px}

p, blockquote, ul, ol, dl, li, table, pre{ 
    margin: 15px 0} 
    
code{
    margin: 0 2px;
    padding: 0 5px;
    font-family: monospace;
    font-variant-numeric: slashed-zero}
    
pre{
    line-height: 1.25em;
    overflow: auto;
    padding: 6px 10px}
    
pre> code { 
    border: 0; 
    margin: 0; 
    padding: 0}
    
img {
    max-width: 100%}
    
.slide{
    display: flex;
    width: 297mm;
    height: 166mm;
    margin: 0 auto 20px auto;
    padding: 0;
    align-items: center;
    border: 1px solid var(--TOKEN-BW-INVERSE-OF-THEME)}
    
.slide_body{
    display: block;
    width: 260mm;
    height: 155mm;
    margin: auto;
    overflow: hidden}
    
.slide_body: empty{
    display: none} 
    
.slide: empty{
    display: none} 

@media print{

    body{ 
        margin: 0; 
        padding: 0}

    .slide {
        page-break-after: always;
        margin: 0;
        padding: 0;
        width: 297mm;
        min-height: 200mm;
        height: 200mm;
        max-height: 200mm;
        border: none;
        overflow: hidden;
        border: 0}
    
} *: not(span){ 
    unicode-bidi: plaintext} 
    
.slide_title> *{
    text-align: center;
    border-bottom: 0px; font-size: 450%}
    
.slide_title> h1{
    font-size: 550%}

.slide_body: not(.slide_title)> *{
    font-size: 200%}

.slide_body: not(.slide_title)> h1{
    font-size: 350%}
    
.slide_body:not(.slide_title) > h2{
    font-size: 310%}

img[alt*='imghcenter']{
    display:block;
    margin-left: auto;
    margin-right: auto}
    
img[alt*='imgbig']{
    object-fit: cover;
    min-height: 100%;
    min-width: 70%}
    
.slide_body: not(.slide_title)> h3{
    font-size: 280%}
    
.adm-block{
    width: initial;
    font-size: 90%;
    text-indent: 0em}
    
.adm-heading{
    height: auto;
    padding-top: 0.4em;
    padding-left: 2.2em;
    padding-bottom: 0.4em}
    
.adm-body{
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-left: 0.5em;
    margin-right: 0.5em}
    
.adm-icon{
    position: absolute;
    top: 50%;
    left: 0.5em;
    transform: translateY(-50%)}
    
.adm-block> .adm-heading{
    position: relative; cursor: pointer}
    
.adm-block.adm-open> .adm-heading: after, .adm-block.adm-collapsed> .adm-heading: after{
    top: 50%;
    transform: translateY(-50%); 
    content: '▼'}
    
.adm-block.adm-collapsed> .adm-heading: after{
    content: '◀'}
    
pre+ div.adm-block, div.adm-block+ pre{
    margin-top: 1.75em}
    
span.delimiter::before{
    content: ', '} 
    
.front-matter-container{
    margin-bottom: 1.5em;
    border-bottom: 2px solid black}
    
.front-matter-item {
    text-align: right; margin-bottom: 0.25em}
    
.front-matter-container-title{
    font-weight: bold;
    font-size: 110%}
    
.front-matter-container-tags{
    white-space: pre;
    overflow: scroll; 
    font-size: 80%}
    
div.front-matter-item> .post-item-tags{
    padding: 0.1em 0.4em;
    border-radius: 50rem;
    background-color: #dee2e6}
    
div.front-matter-item> span.post-item-tags: not(:first-child){
    margin-left: 0.25em}
    
div.front-matter-item> span.post-delimiter-tags::before{
    content: ' '}

.katex{
    font-size: inherit}
